nav{
  font-family: Helvetica, sans-serif;
  color: black;
  size: 50px;
}
.wrap{
  background-image: url("jay-wennington-2065.jpg");
  width: 4402;
  height: 2935;
}
.centered{
  text-align:center;
  line-height:200px;
}
